@import url(https://fonts.googleapis.com/css?family=Nunito+Sans);
@import url(https://fonts.googleapis.com/css?family=Rubik);

article,
aside,
figcaption,
figure,
footer,
header,
nav,
section {
    display: block
}

h1,
h2,
h3,
h4,
strong {
    margin-top: 1em;
    padding-top: 1em;
    line-height: 1.25;
    color: #333
}

h2 {
    font-size: 2rem
}

h3 {
    font-size: 1.5rem
}

h4 {
    font-size: 1rem
}

ol,
ul {
    padding-left: 40px
}

figure,
ol,
p,
ul {
    margin: 1em 0
}

a img {
    border: 0
}

#particles-js {
  background: #be9ea0; /* 设置主色 */
  background: -webkit-linear-gradient(to right, #c49b8d, #be9ea0); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #c49b8d, #be9ea0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    display: flex;
    vertical-align: bottom;
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
}


#particles-js .particles-js-canvas-el {
    width: 100% !important;
    height: 100vh !important
}

.header {
    z-index: 1;
    text-align: center;
    color: #fff;
    position: absolute;
    font-family: 'Rubik', sans-serif;
    width: 80%;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.header .site-title {
    font-size: 35px;
    display: block;
    line-height: 1;
    color: #fff;
}


@media only screen and (min-width:550px) {
    .header .site-title {
        margin: 0;
        font-size: 100px
    }
}

.header .site-description {
    font-size: 20px;
    display: block;
    line-height: 1;
    color: #fff;
    margin-top: 10px
}

@media only screen and (min-width:550px) {
    .header .site-description {
        font-size: 40px
    }
}

.header-links {
    margin: 10px
}

.header-links .link {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    margin: 10px
}

@media only screen and (min-width:550px) {
    .header-links .link {
        font-size: 20px
    }
}

.header-icons {
    display: flex;
    justify-content: center;
    text-align: center
}

.down,
.header-icons .icon {
    color: #fff;
    text-align: center
}

.header-icons .icon {
  transition: all .7s;
  margin: 10px;
}



.header-icons .icon:active,
.header-icons .icon:hover {
    color: #1488cb;
}

@media only screen and (min-width:550px) {
    .header-icons .icon {
        width: 35px;
        height: 35px;
        font-size: 35px
    }
}

.down {
    position: absolute;
    bottom: 25px;
    width: 100%;
    margin: 0 auto;
    display: block;
    font-size: 30px;
    cursor: pointer
}

.down .icon {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    fill: #fff;
    -webkit-animation: pulse 1.3s infinite;
    animation: pulse 1.3s infinite
}

.down .icon:active,
.down .icon:hover,
.footer a:active,
.footer a:hover {
    color: #4b5664
}

#about {
    width: 90%;
    margin: 0 auto;
    max-width: 960px
}

@media only screen and (min-width:550px) {
    #about {
        width: 80%
    }
}

.container {
  text-align: center;
  font-size: 60px;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items in the column */
    align-items: center; /* Center items horizontally */
    font-size: 40px; /* Adjust font size if necessary */
  }
}

.container p {
  font-size: 16px;
}

.user-details {
  text-align: center;
  margin: 5px auto;
}

/* Project container styles */
#projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

.user-projects {
  margin: 70px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Allow wrapping */
}

.user-projects img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.user-projects h5 {
  margin: 0;
}

.user-projects li {
  color: #be9ea0;
  font-size: 1.1rem;
}

.user-projects p {
  margin-right: 5px;
}

/* Link styles */
.project-link {
  display: inline-block;
  margin: 10px 0;
  padding: 5px;
  color: #be9ea0;
  background-color: transparent;
  border: 1px solid #be9ea0;
  border-radius: 10px;
  text-align: center;
  outline: 0;
  text-decoration: none;
  cursor: pointer;
  transition: color .3s ease-out, background-color .3s ease-out, border-color .3s ease-out;
  font-size: 14px;
}

.project-link:active,
.project-link:hover {
  background-color: #5347a8;
  border-color: #5347a8;
  color: #fff;
  transition: color .3s ease-in, background-color .3s ease-in, border-color .3s ease-in;
}

/* Footer styles */
.footer {
  background: linear-gradient(to right, #c49b8d, #be9ea0);
  padding: 10px 0;
  margin-top: 100px;
  text-align: center;
  color: #fff;
}

.footer .love {
  color: red;
}

.footer a {
  text-decoration: none;
  margin: 0;
  color: #fff;
}

/* Image container styles */
.images-right {
  display: flex; /* Use Flex layout */
  justify-content: space-between; /* Distribute space evenly in a row */
  gap: 0px; /* Space between images */
}

.tokyoscene-img,
.USpeak4Me-img {
  border-radius: 16px; /* Rounded corners */
  box-shadow: 2px 2px rgba(0, 0, 0, 0.3); /* Shadow effect */
  transition: box-shadow 0.3s, transform 0.3s; /* Add smooth transition effect */
  height: auto; /* Height adapts automatically */
}


.tokyoscene-img:hover,
.USpeak4Me-img:hover {
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5); /* Increase shadow on hover */
  transform: scale(1.05); /* Slightly enlarge on hover */
}



/* Media queries */
@media only screen and (min-width: 550px) {
  .user {
      flex-wrap: nowrap;
      font-size: 75px;
  }

  #projects {
      width: 80%;
  }

  .images-left {
      width: 48%;
      margin-right: 2%;
  }

  .contents-right {
      width: 48%;
      text-align: left;
  }
}

/* Adjustments for mobile devices */
@media (max-width: 768px) {
  .user-projects {
      flex-direction: column; /* Stack content vertically on mobile devices */
  }

  .images-right, .images-left {
      width: 100%; /* Images take full width on mobile devices */
  }

  .contents, .contents-right {
      width: 100%; /* Text sections also take full width on mobile devices */
  }
}

/* For desktop version, keep images on the right */
@media (min-width: 769px) {
  .images-right{
    order: 1; /* Maintain default order on desktop */
    width: 50%; /* Images occupy 50% of the width */
}

  .contents, .contents-right {
      width: 50%; /* Text sections occupy 50% of the width */
  }
}
